@charset "utf-8";
/** Reset CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/** End Reset CSS **/


body {
	width: 100%;
	height: 100%;
	background: #fafafa url('../images/topborder.png') top repeat-x;
	padding: 30px 0 0;
	font-family: Helvetica, Arial, Sans-Serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#boxes {
	height: 210px;
}

#footer {
	width: 958px;
	margin: 0 auto;
	clear: both;
	padding: 20px 0;
	font-size: 11px;
}

#header {
	width: 960px;
}

#header .logo {
	float: right;
}

#content {
	width: 960px;
	clear:both;
	padding: 80px 0 40px;
	border-bottom: 1px solid #e4e4e4;
}

#content2 {
	width: 960px;
	clear:both;
	padding: 80px 0;
	border-bottom: 1px solid #e4e4e4;
}

#footer p {
	margin-bottom: 1.5em;
}

a, a:visited {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	color: #528ecc;
}

a:hover {
	text-decoration: none;
}

input[type=checkbox] {
	margin: 0 2px 0 0;
}

p {
	margin: 0 0 0.5em;
}

#getrolling {
	width: 940px;
	background: #fff;
	padding: 10px;
	margin: 0 0 30px;
	font-family: Helvetica, Arial, Sans-Serif;
	border-bottom: 2px solid #3d3d3d;
}

#one {
	width: 280px;
	float: left;
	background: #fff;
	border: 3px solid #3d3d3d;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 0 7px;

}

#two {
	width: 280px;
	float: left;
	background: #fff;
	border: 3px solid #3d3d3d;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 0 7px;
}

#three {
	width: 280px;
	color: #fff;
	float: left;
	background: #689bfc;
	border: 3px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 0 7px;
}

#one h1, #two h1, #three h1 {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1.8em;
	margin: 0 0 20px;
}

#one, #two {
	color: #3d3d3d;
}

#one input[type=text], #two input[type=text], #three input[type=text] {
	width: 178px;
	padding: 5px;
	margin: 0;
	border: 1px solid #b2b2b2;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1.2em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.focus {
	box-shadow: 0 0 10px #ff6854;
	-moz-box-shadow: 0 0 10px #ff6854;
	-webkit-box-shadow: 0 0 10px #ff6854;
}

.button1, .button2 {
	cursor: pointer;
	clear: both;
	display: block;	
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 #bfbfbf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcd0f6', endColorstr='#79b4f0');
	background: -webkit-gradient(linear, left top, left bottom, from(#bcd0f6), to(#79b4f0));
	background: -moz-linear-gradient(top,  #bcd0f6,  #79b4f0);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0;
	padding: 8px;
	margin: 10px 0 0;
}

.button1 {
	width: 100px;
	float: right;
}

.button1:hover {
	background: #ffa332;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe8f9', endColorstr='#79b4f0');
	background: -webkit-gradient(linear, left top, left bottom, from(#dfe8f9), to(#79b4f0));
	background: -moz-linear-gradient(top,  #dfe8f9,  #79b4f0);
}

.button2 {
	width: 280px;
	height: 50px;
	color: #fafafa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#000');
	background: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#000));
	background: -moz-linear-gradient(top,  #4c4c4c,  #000);
}

.button2:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#676767', endColorstr='#000');
	background: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#000));
	background: -moz-linear-gradient(top,  #676767,  #000);
}

.c1 {
	width: 90px;
	padding: 0 0 20px;
}

table.rolls {
}

.rolls tr:hover {
	background:#5c5c5c;
}

.rolls th, .rolls td {
	padding: 2px 10px;
}

td.t {
	min-width: 60px;
}

td.n, td.d, td.o {
	text-align: center;
}

/** Dice CSS **/

#rolldata {
	font-size: .7em;
	padding: 0 0 0 30px;
	float: left;
}

#rolldata p {
	margin-top:20px;
}

#userdice {
	float: left;
}

#dicehistory {
	clear: both;
	float:left;
	min-height: 100px;
	max-height: 500px;
	width: 300px;
	overflow: auto;
	padding: 20px 1px;
}

/** End Dice CSS **/

/** Map CSS **/

#map {
	float: left;
	clear: both;
	position: relative;
	top: 0;
	left: 0;
	width: 600px;
	height: 600px;
	overflow: auto;
	cursor: auto;
}

#map table, #map tr, #map td {
	border: 1px solid #000;
}

.draggable {
	position: absolute;
	z-index: 2;
}

.ui-draggable {
	padding: 0.5em;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: red;
}

/** End Map CSS **/